<h2 class="text-center">Outing Form</h2>

<form action="/student/{{student['id']}}/apply" id="login_form" method="post">
  <fieldset>
    
    <div class="mb-4">
      <label for="student_name" >Name : </label>
      <input type="text" id="student_name" name="student_name" >
    </div>
    
    <div class="mb-4">
      <label for="reg_no">Registration Number : </label>
      <input type="number" id="reg_no" name="reg_no" >
    </div>
    
    <div class="mb-4">
      <label for="phone_no">Parent / Guardian Ph.No: </label>
      <input type="tel" id="phone_no" name="phone_no" >
    </div>
    
    <div class="mb-4">
      <label for="email">Email ID : </label>
      <input type="email" id="email" name="email" >
    </div>
    
    <div class="mb-4">
      <label for="department">Department : </label>
      <select name="department" id="department">
        <option value="Computer Science Engineering">Computer Science Engineering</option>
        <option value="Artificial Intelligence and Data Science">Artificial Intelligence and Data Science</option>
        <option value="Electrical and Communication Engineering">Electrical and Communication Engineering</option>
        <option value=">Cyber Security">Cyber Security</option>
      </select>
    </div>
    
    <div class="mb-4">
      <label for="address">Address : </label><br>
      <textarea name="address" id="address" cols="30" rows="5"></textarea>
    </div>
    
    <div class="mb-4">
      <label for="leaving_date">Date Of Leaving:</label>
      <input type="datetime-local" id="leaving_date" name="leaving_date" >
    </div>
    
    <div class="mb-4">
      <label for="arriving_date">Date Of Arriving:</label>
      <input type="datetime-local" id="arriving_date" name="arriving_date" >
    </div>
    
    <input type="submit">
    
  </fieldset>
</form>